/**
 * Mobile Helix note:
 *
 * These styles are extracted from the PrimeFaces project. All credit should go
 * where credit is due. We only include those styles from PrimeFaces that are
 * required for components that are included in the Link SDK. This code is licensed
 * under the same terms as the primefaces - the Apache 2.0 license. For more information
 * go to primefaces.org/license.html.
 */

.ui-hx-undo {
    position:fixed;
    bottom:5px;
    left:0%;
    width:100%;
    background-color: #585858;
}
.ui-hx-undo-item-container {
    position:relative;
    margin:0 0 10px 0;
}
.ui-hx-undo-item {
    display:block;
    padding:10px 15px;  
}

.ui-hx-undo-message {
    padding-left: 1em;
    padding-right: 1em;
    display: inline-block;
    vertical-align: top;
    color: white;
}
.hx-undo-button {
    float: right;
    text-align: center;
    border-color: white !important;
    color: white;
    width: 64px;
    height: 40px;
    margin-bottom: 0.5em;
}

.hx-undo-button-text {
    height: 100%;
    text-align: center;
    padding-top: 10px;
}