.hxonoff {
    position: relative; 
    width: 80px;
    padding-left: 1em;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.hxonoff-checkbox {
    display: none;
}

.hxonoff-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 20px;
}

.hxonoff-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.hxonoff-inner:before, .hxonoff-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 25px; 
    padding: 0; 
    line-height: 25px;
    font-size: 13px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}

.hxonoff-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; 
    color: #FFFFFF;
}

.hxonoff-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.hxonoff-switch {
    display: block; 
    width: 18px; 
    margin: 6px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 45px;
    border: 2px solid #999999; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}

.hxonoff-checkbox:checked + .hxonoff-label .hxonoff-inner {
    margin-left: 0;
}

.hxonoff-checkbox:checked + .hxonoff-label .hxonoff-switch {
    right: 0px; 
}

.hx-form-container.hx-select {
    width: 100%;
}

.hx-form-container select {
   border: 1px solid #555;
   padding: 0.5em;
   font-size: 15px;
   line-height: 1.2em;
   width: 100%;
   background: #fff;
   background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
   -webkit-appearance: none;
   -webkit-box-shadow: 1px 1px 1px #fff;
   -webkit-border-radius: 0.5em;
}

.hx-form-container select {
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.hx-form-container select:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

/* Form restyling. */
.hx-mini-fieldcontain {
    max-width: 100% !important;
}

.hx-form-container .ui-field-contain {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    overflow: hidden;
    border: none;
    margin: 0 .5em .3em;
}

.hx-form-container .ui-field-contain label.ui-select {
    padding-top: 0.4em;
    padding-right: 0.5em;
    padding-bottom: 0;
    padding-left: 0;
}

.hx-form-container .ui-field-contain label.ui-input-text {
    text-align: right;
    border: none;
    padding: 0.2em 0em 0em; /* Top, right & left, bottom */
    margin-right: 0;
    width: auto;
    line-height: 1;
    -webkit-user-select: none !important;
}

.hx-form-container .ui-field-contain label.ui-input-text .ui-btn {
    margin: 0;
    box-shadow: none;
    border: none;
    background: transparent;
    color: darkblue;
}

.hx-form-container .ui-field-contain label.ui-input-text .ui-btn .ui-btn-inner {
    padding: 0;
    margin-left: 0;
}

.hx-form-container .ui-field-contain .ui-controlgroup-controls {
    width: 100%;
}

.hx-form-container .ui-field-contain div.ui-input-text {
    box-shadow: none;
    flex: 2; /* Fill the remainder of the flex box. */
    -webkit-flex: 2;
    border: none;
    background-color: transparent;
    border-bottom: darkgrey;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 0px;
    width: auto;
    display: flex;
    flex-direction: row;
}

/* With an explicit bottom border, override the above. */
.hx-form-bottom-border .hx-form-container .ui-field-contain div.ui-input-text {
    border-bottom: none;
    border-bottom-style: none;
    border-bottom-width: 0px;
}

.hx-form-bottom-border.hx-form-container .ui-field-contain textarea.ui-input-text {
    border: none;
}

.hx-form-bottom-border {
    border-bottom: lightgrey;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 0px;    
}

.hx-form-container .ui-field-contain div.ui-input-text.hx-input-date input {
    border: none;
}

.hx-form-container .ui-field-contain div.ui-input-text .ui-btn .ui-btn-inner {
    padding-top: .35em;
    padding-bottom: 0.25em;
}

.hx-form-container .ui-field-contain div.ui-input-text input {
    display: inline-block;
}

.hx-form-container div.ui-input-text input {
    flex: 2;
    -webkit-flex: 2;
    width: 100%;
    margin-left: 0em;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

.hx-form-container .ui-field-contain div.ui-input-text.hx-button-container input {
    width: auto;
}

.hx-form-container .hx-mini-fieldcontain label.ui-input-text {
    display: inline-block;
}

.hx-form-container .hx-mini-fieldcontain div.ui-input-text {
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0;
    padding-top: 0em;
    padding-bottom: 0em;    
}

.hx-form-container .hx-mini-fieldcontain {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
}

.hx-form,.hx-form-mini .ui-collapsible-inset .ui-collapsible-content {
    padding-left: 0.5em;
    padding-right: 0;
    padding-top: 0.4em;
    padding-bottom: 0;
}

.hx-form-container .ui-field-contain .ui-controlgroup .ui-controlgroup-label {
    margin: 0 .3em .3em 0;
    display: inline-block;
}

.hx-form-container .ui-field-contain .ui-controlgroup .ui-controlgroup-controls label {
    color: darkblue;
}

.hx-form-container .ui-field-contain .ui-controlgroup .ui-controlgroup-controls .ui-radio {
    border: 1px;
    border-style: solid;
    border-color: lightgrey;
}

.hx-form-container .ui-field-contain .ui-controlgroup .ui-controlgroup-controls .ui-radio label {
    color: black;
}

.hx-form-container .ui-field-contain .ui-controlgroup.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-radio label {
    color: darkblue;
}

.hx-form-container .ui-field-contain .ui-controlgroup .ui-controlgroup-controls .ui-radio input {
    /* Get rid of a rounded artifact from the user agent style sheet in mobile safari */
    background-color: transparent; 
}

.hx-form-container .ui-field-contain fieldset.ui-controlgroup {
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    margin-left: 0em;
}

@media all and (max-width: 500px) {
    .hx-form-container .hx-tz-selector {
        display: block;
    }
    
    .hx-form-container .hx-tz-selector label.ui-input-text {
        text-align: left;
    }
}

.hx-form-container .hx-block-field {
    display: block;
}

textarea.ui-input-text {
    padding: 0;
    margin-left: 1em;
    width: auto;
    flex: 2;
    -webkit-flex: 2;
}

.hx-form-container .ui-field-contain div.ui-select { 
    flex: 2;
}

.hx-form-container .hx-form-strong-title {
    font-weight: bold;
}

@media all and (min-width: 28em){
    .hx-form-container .ui-field-contain label.ui-select { width: initial; }
    .hx-form-container .ui-field-contain .ui-select { width: initial; }
    .hx-form-container .ui-field-contain .ui-controlgroup-label { width: initial; }
}


.hx-aligned-text-container {
    display: table;
}

.hx-align-middle {
    display: table-cell;
    vertical-align: middle;
}

.hx-form-view-border {
    border-width : 0px 0px 1px 0px;
    border-color: rgba(130,130,130,.3);
    border-style: solid;
}

.hx-form-view-item {
    clear : both;
    -webkit-user-select : none;
    padding : 3px 0px 3px 0px;
}

.hx-form-container fieldset legend {
    padding-left: 0em;
}

.ui-collapsible h3 .ui-btn-inner {
    padding: 0;
    padding-left: 40px;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    color: darkblue;
}

.ui-icon-expand,
.ui-icon-collapse {
    width: 24px !important;
    height: 24px !important;
}

@media only screen and (-webkit-max-device-pixel-ratio: 1.9) {
    /* Icons 8 expand arrow. */
    .ui-icon-expand {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3UlEQVRIS2NkoDFgpLH5DKMWEAxh+gSRwfz7Aiy//uSfSVdtJOgkIhSYTL/d8IeDZcKFRMUPYB8Yz7wTwPj///r/DP8XnM1QSyTCDJxKjKffWsDIyBj/n5Ex8Gy6ygZ4EBlNv5XAxMg4nxJLYIb/+/8/8Vym2gKQK1DigBJLsBmOYQFIgBxLcBmO1QJSLcFnOE4LiLWEkOF4LSBkCTGGE7QAlyXEGk6UBeiWQDQxJiAnRXz5huiiApa6QIYRazjRPoC5EGQJiA3LRMTkeKJ9QIxh2NSMWkAw5IZ+EAEAq8ebGVNy0c4AAAAASUVORK5CYII=);
    }

    /* Icons 8 collapse arrow. */
    .ui-icon-collapse {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA10lEQVRIS2NkoDFgpLH5DKMWEAzhwRVERtNvJYCcfC5TbQFBp0MVEO0DkOFMjIzzQfr+/f+fSKwlRFkAM/z///8LQRYwMjLGE2sJQQuQDT+bqQYOIuPptxYQawleC7AZDgt7Yi3BaQE+w0mxBKsFxBhOrCUYFpBiODGWoFhAjuGELIFbQInh+CwBW2A8804A4///60HpHJYUic2p6Opgqes/I2Pg2XSVDWALDObfF2D58afgTKZqA7kGI+szmX674Q8Hy4QLiYofCGY0Si0ctYBgCA79IAIAtR+kGVPJXqEAAAAASUVORK5CYII=);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .ui-icon-expand {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAABiklEQVRoQ+2YQU6DQBSGZyzq1iNIYlwTvYDewCPYlemJGlf1CN5AL2DD2pjgEdyqVMzEPEELOG/eewyY1w1pGabf9/9DMmDNxD924vxGBWI3qA1oA8QEdAkRAyRfrg2QIyRO8P8aOL1+utjsze7zefpCDIf18mxVHMzeNmcPV0e3zYl/NHCyfLzcsXZlTJWX+7vnY5Fw8Mnr+50xNvuoqvl6cXwDEt8C2bI4TGxZ1HbjkGjCA1tZJWm+SJ/d944GYGhciTb4zgYAuV5GcSV84LcaGIuEL3yngDsRqwkMfK9ADAks/J8CQ0qEwHsJDCERCu8tIClBgUcJSEhQ4dECnBIc8EECHBJc8MECFAlOeJJAiAQ3PFkAIyEBzyLgIyEFzybQJ+HOwcMIbBZ/b4nh95Aj6zNx2wbwC8pmEvCsDQDgtkSdK2fyMCtrA30SEvAiDbRJSMGLCsCN7Y7NtwghN2rfNSJLiBtSBYZMFPtfuoSwiXGP1wa4E8XOpw1gE+Merw1wJ4qdb/INfAIu4nJAkpXT/QAAAABJRU5ErkJggg==);
    }
    
    .ui-icon-collapse {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAABfElEQVRoQ+2XQU4CMRSGp4Ky5QhOYtxK9AIcgSPIynAi4gqP4BG4gAa2xmQ4gluVsaSYmnHo0Gn/9ygkb7ZNO9/3/51Mq7ITf9SJ82cikLpBaUAaABOQLQQGCE+XBuAIwQWkgX0B3k7f7s346+T6CQy6cTpbAwb+TKmZefOP1mMuCRaBKryNjkuCXMAFzylBKlCH15leGniVqRsuCTIBF3zZOx8a8M7n95xLgkSgCX4xzj+MwGBW9LkkYAEfvN06XBKQQFt4TologVB4LokogVh4DolgARSeWiJIgAqeUqK1ADU8lUQrAS54CgmvADc8KrFX4FDwiESjwKHhYyWcAqngYyR2BFLDh0r8EzgW+BCJP4HBtLjsqnVhJ5vLiDnP2yMx16Xct67rFLvW3XwxyVe/l6XKYxs4FnhXE/W79c43cPf4PiovOvPUydeb2TbxVQ5fHq6eq2PeH5mv4tTjIiANgAnIFgIDhKdLA3CE4ALSABggPF0agCMEF9gANQeFQPf9WAcAAAAASUVORK5CYII=);
    }
}

.hx-collapsible {
    margin: .2em 0;
}

.hx-collapsible-heading {
    margin: 0;
    border-radius: 0px;
    padding: 0;
    display: block;
    -webkit-user-select: none !important;
}

.hx-collapsible-button {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.25em;
}

.hx-collapsible-label {
    display: inline-block;
    color: #3498db;
    width: auto !important;
}

.hx-collapsible-content {
    
}

.hx-collapsed {
    
}

.hx-flex-horizontal .buttonBarMaster .iconbutton, .hx-flex-horizontal .buttonBarMaster .iconbutton .hx-btn-inner {
    width: 24px;
    height: 24px;
}

.buttonBarMaster.buttonbar {
    margin: 0;
    -webkit-user-select: none !important;
}

.hx-form-pad-top {
    padding-top: 0.75em;
}

.hx-form-pad-textinput {
    padding-bottom: 0.2em;
}

.hx-form-pad-bottom {
    padding-bottom: 0.75em;
}