.hx-form-container {
    box-shadow: 0 3px 3px -3px rgba(0,0,0,0.16), 0 3px 3px -3px rgba(0,0,0,0.23);
    border-radius: 0px;
    padding: 0.25em 0em;
    margin: 0em;
    overflow: hidden; /* Without this, the computed height of the form container does not account for the margins of each element within. */
}

.hx-extra-padding {
    padding: 0.5em 0em;
}

/* Set width to 100% unless we are in a flex box and we are the fill field */
.hx-form-container:not(.hx-flex-fill) {
    width: 100%;
}

.hx-flex-horizontal .hx-form-container {
    width: initial;
}

.hxonoff {
    position: relative; 
    width: 80px;
    padding-left: 1em;
    text-align: left;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.hxonoff-checkbox {
    display: none;
}

.hxonoff-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 20px;
}

.hxonoff-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.hxonoff-inner:before, .hxonoff-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 25px; 
    padding: 0; 
    line-height: 25px;
    font-size: 13px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}

.hxonoff-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: rgb(67, 140, 255); 
    color: #FFFFFF;
}

.hxonoff-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.hxonoff-switch {
    display: block; 
    width: 18px; 
    margin: 6px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 45px;
    border: 2px solid #999999; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}

.hxonoff-checkbox:checked + .hxonoff-label .hxonoff-inner {
    margin-left: 0;
}

.hxonoff-checkbox:checked + .hxonoff-label .hxonoff-switch {
    right: 0px; 
}

.hx-form-container.hx-select {
    width: 100%;
}

.hx-select,.hx-input-date {
    background-color: transparent;
}

.hx-select select,.hx-input-date input {
    float: left;
    display: block;
    color: black;
    border: none;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    max-width: calc(100% - 40px);
}

.hx-form-container .hx-input-date input {
    margin-right: 0em;
    max-width: calc(100% - 45px);
}

.hx-select::after,.hx-input-date::after {
  content: "\25bc";
  width: 30px;
  float: right;
  text-align: center;
  font-size: 14px;
  color: black;
  pointer-events: none;
}

/* Make sure the date selector/dropdown is at least as tall as the little arrow next to it. */
.hx-form-container .hx-input-date,
.hx-form-container .hx-select {
    min-height: 14px;
}

.hx-select select option {
  padding: 30px;
}

/* Form restyling. */
.hx-mini-fieldcontain {
    max-width: 100% !important;
}

.hx-form-container label,
.hx-form-container legend {
    margin-left: 0.4em;
    color: #777777;
}

.hx-form-container label.hx-link-label,
.hx-link-label {
    color: rgb(52,152,219);
    min-width: 10%;
}

.hx-form-container input,
.hx-form-container textarea,
.hx-form-container div.ui-input-text {
    width: -webkit-fill-available;
    border: none; 
    border-bottom: 1px solid #BBBBBB; 
    border-radius: 0px;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0em;
    outline: none;
}

.hx-form-container input[type="date"],
.hx-form-container input[type="datetime"] {
    width: initial;
    border-bottom: none;
}

.hx-form-bottom-border {
    border-bottom: lightgrey;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 0px;    
}

.hx-btn-inline {
    display: inline-block;
}

.hx-form-container .hx-button-bar .iconbutton {
    width: 24px;
    height: 24px;
}

.hx-form-container .hx-mini-fieldcontain {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
}

.hx-form,.hx-form-mini .ui-collapsible-inset .ui-collapsible-content {
    padding-left: 0.5em;
    padding-right: 0;
    padding-top: 0.4em;
    padding-bottom: 0;
}

.hx-form-inset {
    margin-left: 1em;
    margin-right: 1em;
}

.hx-fill-available {
    width: -webkit-fill-available;
}

.hx-form-container textarea.ui-input-text {
    border: 1px solid #BBBBBB;
}

.hx-form-container .hx-block-field {
    display: block;
}

.hx-form-container .hx-form-strong-title {
    font-weight: bold;
}


.hx-aligned-text-container {
    display: table;
}

.hx-align-middle {
    display: table-cell;
    vertical-align: middle;
}

.hx-form-view-border {
    border-width : 0px 0px 1px 0px;
    border-color: rgba(130,130,130,.3);
    border-style: solid;
}

.hx-form-view-item {
    clear : both;
    -webkit-user-select : none;
    padding : 3px 0px 3px 0px;
}

.hx-form-container .hx-tz-selector label,
.hx-form-container .hx-date-selector label{
    margin-bottom: 0.25em;
    display: block;
}

.ui-collapsible h3 .ui-btn-inner {
    padding: 0;
    padding-left: 40px;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    color: darkblue;
}

.ui-icon-expand,
.ui-icon-collapse {
    width: 24px !important;
    height: 24px !important;
}

@media only screen and (-webkit-max-device-pixel-ratio: 1.9) {
    /* Icons 8 expand arrow. */
    .ui-icon-expand {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3UlEQVRIS2NkoDFgpLH5DKMWEAxh+gSRwfz7Aiy//uSfSVdtJOgkIhSYTL/d8IeDZcKFRMUPYB8Yz7wTwPj///r/DP8XnM1QSyTCDJxKjKffWsDIyBj/n5Ex8Gy6ygZ4EBlNv5XAxMg4nxJLYIb/+/8/8Vym2gKQK1DigBJLsBmOYQFIgBxLcBmO1QJSLcFnOE4LiLWEkOF4LSBkCTGGE7QAlyXEGk6UBeiWQDQxJiAnRXz5huiiApa6QIYRazjRPoC5EGQJiA3LRMTkeKJ9QIxh2NSMWkAw5IZ+EAEAq8ebGVNy0c4AAAAASUVORK5CYII=);
    }

    /* Icons 8 collapse arrow. */
    .ui-icon-collapse {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA10lEQVRIS2NkoDFgpLH5DKMWEAzhwRVERtNvJYCcfC5TbQFBp0MVEO0DkOFMjIzzQfr+/f+fSKwlRFkAM/z///8LQRYwMjLGE2sJQQuQDT+bqQYOIuPptxYQawleC7AZDgt7Yi3BaQE+w0mxBKsFxBhOrCUYFpBiODGWoFhAjuGELIFbQInh+CwBW2A8804A4///60HpHJYUic2p6Opgqes/I2Pg2XSVDWALDObfF2D58afgTKZqA7kGI+szmX674Q8Hy4QLiYofCGY0Si0ctYBgCA79IAIAtR+kGVPJXqEAAAAASUVORK5CYII=);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .ui-icon-expand {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAABiklEQVRoQ+2YQU6DQBSGZyzq1iNIYlwTvYDewCPYlemJGlf1CN5AL2DD2pjgEdyqVMzEPEELOG/eewyY1w1pGabf9/9DMmDNxD924vxGBWI3qA1oA8QEdAkRAyRfrg2QIyRO8P8aOL1+utjsze7zefpCDIf18mxVHMzeNmcPV0e3zYl/NHCyfLzcsXZlTJWX+7vnY5Fw8Mnr+50xNvuoqvl6cXwDEt8C2bI4TGxZ1HbjkGjCA1tZJWm+SJ/d944GYGhciTb4zgYAuV5GcSV84LcaGIuEL3yngDsRqwkMfK9ADAks/J8CQ0qEwHsJDCERCu8tIClBgUcJSEhQ4dECnBIc8EECHBJc8MECFAlOeJJAiAQ3PFkAIyEBzyLgIyEFzybQJ+HOwcMIbBZ/b4nh95Aj6zNx2wbwC8pmEvCsDQDgtkSdK2fyMCtrA30SEvAiDbRJSMGLCsCN7Y7NtwghN2rfNSJLiBtSBYZMFPtfuoSwiXGP1wa4E8XOpw1gE+Merw1wJ4qdb/INfAIu4nJAkpXT/QAAAABJRU5ErkJggg==);
    }
    
    .ui-icon-collapse {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAABfElEQVRoQ+2XQU4CMRSGp4Ky5QhOYtxK9AIcgSPIynAi4gqP4BG4gAa2xmQ4gluVsaSYmnHo0Gn/9ygkb7ZNO9/3/51Mq7ITf9SJ82cikLpBaUAaABOQLQQGCE+XBuAIwQWkgX0B3k7f7s346+T6CQy6cTpbAwb+TKmZefOP1mMuCRaBKryNjkuCXMAFzylBKlCH15leGniVqRsuCTIBF3zZOx8a8M7n95xLgkSgCX4xzj+MwGBW9LkkYAEfvN06XBKQQFt4TologVB4LokogVh4DolgARSeWiJIgAqeUqK1ADU8lUQrAS54CgmvADc8KrFX4FDwiESjwKHhYyWcAqngYyR2BFLDh0r8EzgW+BCJP4HBtLjsqnVhJ5vLiDnP2yMx16Xct67rFLvW3XwxyVe/l6XKYxs4FnhXE/W79c43cPf4PiovOvPUydeb2TbxVQ5fHq6eq2PeH5mv4tTjIiANgAnIFgIDhKdLA3CE4ALSABggPF0agCMEF9gANQeFQPf9WAcAAAAASUVORK5CYII=);
    }
}

.hx-collapsible {
    margin: 0em;
}

.hx-collapsible-heading {
    margin: 0;
    border-radius: 0px;
    padding: 0;
    -webkit-user-select: none !important;
}

.hx-collapsible-button {
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0.25em;
}

.hx-collapsible-label {
    color: #3498db;
}

.hx-collapsible-content {
    
}

.hx-collapsed {
    
}

.hx-form-pad-top {
    padding-top: 0.75em;
}

.hx-form-pad-textinput {
    padding-bottom: 0.2em;
}

.hx-form-pad-bottom {
    padding-bottom: 0.3em;
}

.hx-form-container .iconbutton .hx-btn-inner {
    height: inherit;
}

.hx-form-container.hx-search-input .hx-button-bar .iconbutton {
    width: 24px;
    height: 24px;
    border: 1px solid #CCCCCC;
    border-radius: 50%;
}

.hx-form-container.hx-search-input .hx-button-bar .iconbutton .icono-cross {
    position: absolute;
    top: 0px;
    left: 0px;
}

.hx-form-container.hx-search-input .hx-button-bar .iconbutton .icono-cross:before {
    width: 18px;
}

.hx-form-container.hx-search-input .hx-button-bar .iconbutton .icono-cross:after {
    height: 18px;
}

.hx-form-container.hx-search-input .hx-button-bar .iconbutton .icono-cross:before,
.hx-form-container.hx-search-input .hx-button-bar .iconbutton .icono-cross:after {
    color: #3498DB;
}

.hx-checkbox *,
.hx-checkbox ::after,
.hx-checkbox ::before {
    box-sizing: border-box;
}

.hx-checkbox {
    position: relative;
    display: inline-block;
    margin-right: 1em;
    white-space: nowrap;
    line-height: 1;
}

.hx-checkbox input {
    min-width: 2em;
    padding: 0;
    touch-action: manipulation;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    margin: 0;
    cursor: pointer;
}

.hx-checkbox.state {
    position: relative;
}

.hx-checkbox input:checked~.state:before {
    border-color: #2373a5;
    background-color: #3373a5;
}

.hx-checkbox .state:before {
    content: '';
    border: 1px solid #bdc3c7;
    border-radius: 10px;
    width: 2em;
    box-sizing: unset;
    height: 1em;
    position: absolute;
    z-index: 0;
    transition: all .5s ease;
}

.hx-checkbox .state label {
    text-indent: 3em;
    position: initial;
    display: inline-block;
    font-weight: 400;
    margin: 0;
    min-width: 1em;
}

.hx-checkbox .state label:before {
    border-color: #bdc3c7;
}

.hx-checkbox .state label:after,
.hx-checkbox .state label:before {
    content: '';
    width: 1em;
    height: 1em;
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid transparent;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0.15em; 
    background-color: transparent;
}

.hx-checkbox .state label:after,
.hx-checkbox .state label:before {
    transition: all .5s ease;
    border-radius: 100%;
    left: 0.35em;
    border-color: transparent;
    transform: scale(.8);
}

.hx-checkbox input:checked~.state label:after {
    background-color: #fff !important;
    left: 1.25em;
}

.hx-checkbox .state label:after {
    background-color: #bdc3c7 !important;
}

.ui-radio input.ui-disabled {
    display: none;
}

.hx-radio {
    margin: 16px 0;
    display: block;
    cursor: pointer;
}

.hx-radio input {
    display: none;
}
 
.hx-radio input + span {
    padding-left: 26px;
    display: block;
    position: relative;
}
            
.hx-radio input + span:before,
.hx-radio input + span:after {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
}
            
.hx-radio input + span:before {
    background: #D1D7E3;
    transition: background .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
}
.hx-radio input + span:after {
    background: #fff;
    transform: scale(.78);
    transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
}

.hx-radio input:checked + span:before {
    transform: scale(1.04);
    background: #5D9BFB;
}
            
.hx-radio input:checked + span::after {
    transform: scale(.4);
    transition: transform .3s ease;
}

.hx-form-border-none {
    border: none !important;
}

@media all and (min-width: 500px) {
    .hx-form-container .hx-button-bar .iconbutton {
        width: 40px;
    }
}
