.hx-menu-list {
    min-width: 200px;
}

.hx-menu-list-mini {
    min-width: 150px;
}

.hx-menu-item {
    border: none;
    border-radius: 0px;
    box-shadow: 0 1px 4px -4px rgba(0,0,0,0.16), 0 1px 4px -4px rgba(0,0,0,0.75);
    margin: 0.25em 0em;
}

.hx-menu-item .icono-caretRight {
    position: relative;
    color: rgb(67,140,255)
}

.hx-menu-item .icono-caretRight:after,
.hx-menu-item .icono-caretRight:before {
    height: 1px;
}

.hx-menu-item-text {
    margin-left:0.75em; 
    margin-top:0.25em;
}

.hx-context-menu-textinput {
    width: -webkit-fill-available;
    display: block;
    height: 32px;
    margin: 0 0.5em 0.25em;
    padding: 0;
    -webkit-appearance: none;
}

.hx-context-menu-button {
    color: #438CFF;
    border: 1px solid darkgrey;
    margin: 0 auto;
    margin-bottom: 0.25em;
    width: 50%;
    text-align: center;
    padding-top: 0.25em; 
    padding-bottom: 0.25em;
}