/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 30, 2020, 3:25:16 PM
    Author     : sethhallem
*/

.picker--time .picker__frame {
    overflow-y: hidden;
    top: 12em;
}

.picker--time .picker__box {
    height: 100%;
    margin: 0em;
}