/* SAH: added float left b/c we let the toolbar float to the right. */
.ui-editor {background: none #FFFFFF; float: left; }
.ui-editor-group {float:left; height:26px}
.ui-editor-disabled {opacity:0.3; filter:alpha(opacity=30)}
.ui-editor-divider {float:left; width:1px; height:23px; margin:1px 0 1px 0; background:#CCC}
.ui-editor-popup {border:solid 1px #999; background-color:white; position:absolute; font:10pt Arial,Verdana; cursor:default; z-index:10000}
.ui-editor-list div {padding:2px 4px 2px 4px}
.ui-editor-list p,
.ui-editor-list h1,
.ui-editor-list h2,
.ui-editor-list h3,
.ui-editor-list h4,
.ui-editor-list h5,
.ui-editor-list h6,
.ui-editor-list font {padding:0; margin:0; background-color:Transparent}
.ui-editor-color {width:150px; padding:1px 0 0 1px}
.ui-editor-color div {float:left; width:14px; height:14px; margin:0 1px 1px 0}
.ui-editor-prompt {background-color:#F6F7F9; padding:4px; font-size:8.5pt}
.ui-editor-prompt input,
.ui-editor-prompt textarea {font:8.5pt Arial,Verdana;}
.ui-editor-message {background-color:#FDFCEE; width:150px; padding:4px; font-size:8.5pt}
/* SAH: override JQM style that sets the width of controls to 78%. */
.ui-editor-toolbar .ui-controlgroup-controls { 
    float: right; 
}
.ui-editor-format { border:solid 1px #999;}


/** IE fix within overlays **/
.ui-overlay-hidden .ui-editor iframe{display: none !important;} 
.ui-overlay-visible .ui-editor iframe{display: inline !important;} 

.ui-editor-style-selected {
    color: #ec7832;
}

.ui-editor-default-style {
    font-weight: normal;
    text-decoration: none;
    font-size: 11pt;
    font-family: Calibri;
    color: black;
    background-color: transparent;
}

.hx-editor {
    -webkit-user-select: text;
}

.hx-editor-style-button {
    width: 24px !important;
    height: 24px !important;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHCSURBVEhLxdUxSJRhHMfxKyqyxUlKiNDFJhFraQgSawgsIgQnJxFxkXCpaGgIGqNwUgharUCUoCWCZgkRFYcGQSd1EheREP1+j+cPb9f7nu/BRT/4cPf87/8899zd875X+Z+ZxAze4IKFZuYqjnCcDKGpeYFYXF/RtJzBL7jwYXr8jXY0JbcRO3+O+KqeIpsW3Es6LZTNe7jgPi7hRxqvI5sJxEZ+WigTF3RhJ32wQEYRC92ykLKEqKsbp2YYMaHfAmnFAaxNWyAuFn3B43xqvsPmLZy1kPIR1vdwES7m2Df+kp5v4xwK04Hs2c/jqbqMnTSexf30XA9RmJeIxiKf8SgzfgB37e4dzyE3nv0N2LSLsRyLGMA87PNTnId5C2t+wjYLtemDDZqykJO78GKLiy/bdwMx/4mF2ngko+GmhYI4OfpW8C0jfr9l/JU4+6vVUXGcHG9QTw/+SBfc+ZXqKD+9iAXW8KmGN8R4/R0ajt95LHDHQk28bjbh6x6Uhv5DbHaSkz1tnrq8vEZs4rGFssme/VcWCnId0bdgoWyc+Azesr2S62UE9g5WRyXjqfD/uRHjKJ1ryLu664m78b9MpXICkSCrKIRhSYEAAAAASUVORK5CYII=');
}

.hx-editor-font-button {
    width: 24px !important;
    height: 24px !important;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAABUQAAAVEBKaLAYAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEiSURBVEiJ3dQ9L0RBFMbx3+567XwACjWNiigkao1S4psoSJaCqDRUWiUSakGpUaDeRBQSW6gEyVrFvbLXZN17d/cWeJJpzjnzfybnzAz/WYs4xiNe0cy5nrLAwzjsABiu8zR4GSc9wJvYTTNYShSeYQGjGMROIreW1YafdBkDjtAX5K4TBvPdGmyhjrEgPoJGDH8TzSmXSm1iQ6JbAwOoitq0HMfq2E/Uv2M1r2GoSdlDvUkDlDMMJnIc4i4tGQ4yVA0rWEcljlXxkqi5ynGIVE1ptaPW6easFvH9Sl78OoMsVfCs1aLxog3mEvD7ouFwmjDYKxJcEr3OL3hD9Og6VvgONtGPWcwk4hu47cYgVPgNfGBb+z+rJ4MHHGC6KPDf1SdPXG8NjTwRMAAAAABJRU5ErkJggg==');
}

.hx-editor-lists-button {
    width: 24px !important;
    height: 24px !important;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAC9SURBVEhL7dQxC4FBGMDxm0RKJJtiEGVWbEpmUiYGZXjLB5DNYDIYKANfwRcwS3wu/+c5Cqu713L/+tU9N7y3vHcmjpKYo62ThzJYYqaTp0Z4P2CFkwMbaN8HNNB1oAWtgrpdhv5QFTtMdPJQAVnckZYNH5VwtktNbvbRAbnA+vEbmpBnQ+ohcmAIfYMWT0XZCMVeDWv0dfJQHmVcdPLUAVu71MZ4/Vm/mMLkkMIVCdkgpwd0sMdAhtBnxjwAkelDDGwZADkAAAAASUVORK5CYII=');
}

.hx-editor-menu .ui-btn-up-d {
    background: #0d88c1 !important;
}

.hx-editor-menu .ui-btn-up-d .hx-noicon-button div.ui-btn-text {
    color: white;
}

.ui-editor-toolbar .hx-editor-icon-button {
    height: 32px !important;
}